absl-py==0.9.0
asn1crypto==0.24.0
astor==0.8.1
backports.weakref==1.0.post1
cryptography==2.1.4
enum34==1.1.10
funcsigs==1.0.2

gast==0.3.3
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
idna==2.6
ipaddress==1.0.17
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
olefile==0.45.1
Pillow==5.1.0
protobuf==3.11.3
PyAudio==0.2.11
pycrypto==2.6.1
pygobject==3.26.1
PyOpenGL==3.1.0
Pyrex==0.9.9
pyxdg==0.25
SecretStorage==2.3.1
six==1.14.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.12.1
